body {
    background-color: cornsilk;
    text-align: center;
    font-family: "Stack Sans Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.sub-content, .title {
    margin-bottom: 40px;
}

.title{
    font-weight: 600;
    font-size: 35px;
}