body {
    background-color: cornsilk;
    text-align: center;
    font-family: "Stack Sans Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

footer {
    padding-bottom: 20px;
}

form {
    width: 50%;
    margin: 30px auto;
}

.title{
    font-weight: 600;
    font-size: 32px;
    width: 80%;
    margin: 0 auto;
}

.sub-content, .title, form {
    margin-bottom: 40px;
}

