body {
    background-color: cornsilk;
    text-align: center;
    font-family: "Stack Sans Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    /* display: flex;
    flex-direction: column;
    min-height: 100vh; */
}

main {
    margin-top: 40px;
    /* flex-grow: 1; */
}

footer {
    /* position: fixed;
    bottom: 0;
    width: 100%; */
}



/* contents of main content */
.sub-content {

}
